@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu:wght@500&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 0px 80px;
  height: 80px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  display: grid;
  align-items: center;
  color: #4b4b4b;
  border-bottom: 1px solid #F0EEF0;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .nav-left a h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
}
nav a {
  font-weight: 100;
  font-size: 18px;
  color: #4b4b4b;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul .after a {
  text-decoration: underline;
  color: #B68C3F;
}
nav ul li a {
  transition: ease 0.4s;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #B68C3F;
}
nav .nav-right {
  display: flex;
}
nav .nav-right .search {
  position: relative;
  width: 90%;
  display: flex;
}
nav .nav-right .search input[type=search] {
  border-radius: 25px;
  border: 1px solid #919092;
  outline-color: #F0EEF0;
  font-size: 17px;
  width: 100%;
  padding: 10px 15px 10px 40px;
}
nav .nav-right .search span {
  position: absolute;
  left: 15px;
  top: 11px;
}

.card {
  border-radius: 10px;
  border: 1px solid #919092;
}

button {
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer {
  padding: 30px 80px;
  display: grid;
  grid-template: 1fr/repeat(6, 1fr);
  background: #000;
  gap: 5%;
}
footer .logo-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 1/3;
}
footer .logo-content .foot-content {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
footer .our-product, footer .our-service {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .our-product {
  grid-column: 3/4;
}
footer .our-service {
  grid-column: 4/5;
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 5/7;
}
footer .contact .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .contact .info a {
  color: white;
}
footer .contact .info a:hover {
  color: #0D99FF;
}
footer .contact .info p {
  display: flex;
  gap: 5px;
}
footer .contact .media {
  display: flex;
  gap: 10%;
}
footer .contact .media a i {
  color: white;
  font-size: 30px;
}
footer .contact .media a i:hover {
  color: #0D99FF;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul li {
  font-weight: 300;
  list-style-type: disc;
  cursor: pointer;
}

header {
  position: relative;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 150px 80px;
  display: flex;
}
header .blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 0, 19, 0.5);
}
header .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
header .content h1 {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
}
header .content h1 span {
  font-family: "Ubuntu", sans-serif;
  color: #0D99FF;
  text-shadow: rgba(13, 154, 255, 0.4549019608) 0px 1px 20px;
}
header .content p {
  color: white;
}

header {
  background-image: url(../IMAGES/home-page/dog-header.jpg);
}

.category {
  text-align: center;
  padding: 30px 80px;
}
.category h3,
.category h2 {
  font-family: "Ubuntu", sans-serif;
}
.category .pet .title h2 {
  color: #0D99FF;
}
.category .card_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  padding-bottom: 30px;
}
.category .card_container .card {
  display: flex;
  flex-direction: column;
  height: 420px;
  padding: 25px;
  border: 1px solid #919092;
  border-radius: 15px;
}
.category .card_container .card .pet-img img {
  width: 90%;
}
.category .card_container .card .pet-content {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.category .card_container .card .pet-content .Btn button {
  display: flex;
  align-items: center;
  color: white;
  background-color: #0D99FF;
}
.category .card_container .card .pet-content ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15%;
}

.product {
  padding-bottom: 30px;
}
.product .title h2 {
  color: #0D99FF;
}

.group-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
.group-card .card {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 100%;
  border: 1px solid #919092;
  border-radius: 15px;
}
.group-card .card .product-img img {
  width: 80%;
  padding-top: 30px;
}
.group-card .card .product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.group-card .card .product-content p {
  padding: 20px;
}
.group-card .card .product-content .more {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.group-card .card .product-content .more .price {
  color: #B68C3F;
}
.group-card .card .product-content .more .tag {
  color: #0D99FF;
  text-decoration: underline;
}

.our-new-product {
  padding: 30px 80px;
}
.our-new-product .title {
  display: flex;
  justify-content: center;
}
.our-new-product .title h2 {
  color: #0D99FF;
  align-items: center;
}
.our-new-product .class-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.our-new-product .class-card .card {
  padding: 30px;
  height: 420px;
  display: flex;
  flex-direction: column;
  border: 1px solid #919092;
  border-radius: 15px;
}
.our-new-product .class-card .card .new-img {
  flex: 1;
  display: flex;
}
.our-new-product .class-card .card .new-img img {
  width: 100%;
}
.our-new-product .class-card .card .new-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.our-new-product .class-card .card .new-content p {
  padding: 10px;
}
.our-new-product .class-card .card .new-content .more {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.our-new-product .class-card .card .new-content .more .price {
  color: #B68C3F;
}
.our-new-product .class-card .card .new-content .more .tag {
  color: #0D99FF;
  text-decoration: underline;
}

.top-sell-product h2 {
  padding-top: 120px;
  text-align: center;
  color: #0D99FF;
}
.top-sell-product .selling-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
}
.top-sell-product .selling-product .card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  border: none;
  background: #000;
}
.top-sell-product .selling-product .card .sell-img {
  position: absolute;
  top: -30%;
  flex: 1;
  display: flex;
}
.top-sell-product .selling-product .card .sell-img img {
  width: 70%;
  margin: auto;
}
.top-sell-product .selling-product .card .more {
  border-radius: 15px;
  padding-top: 30px;
  margin-top: auto;
}
.top-sell-product .selling-product .card .more p {
  color: white;
  padding: 20px;
}
.top-sell-product .selling-product .card .more .check {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.top-sell-product .selling-product .card .more .check .price {
  color: white;
}
.top-sell-product .selling-product .card .more .check button {
  background: #0D99FF;
  color: white;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}

@media (max-width: 820px) {
  .category .pet .title h2 {
    color: #0D99FF;
  }
  .category .card_container .card {
    height: 280px;
  }
  .category .card_container .card .pet-content h3 {
    font-size: 15px;
  }
  .category .card_container .card .pet-content ul li {
    font-size: 10px;
  }
  .category .card_container .card .pet-content .Btn button {
    font-size: 6px;
  }
  .category .product .group-card .card {
    height: 280px;
  }
  .category .product .group-card .card .product-content p {
    font-size: 7px;
  }
  .category .product .group-card .card .product-content .more .price {
    font-size: 10px;
  }
  .category .product .group-card .card .product-content .more .tag {
    font-size: 10px;
  }
  .our-new-product {
    padding: 30px 80px;
  }
  .our-new-product .class-card .card {
    height: 280px;
  }
  .our-new-product .class-card .card .new-content p {
    font-size: 9px;
  }
  .our-new-product .class-card .card .new-content .more .price {
    font-size: 10px;
  }
  .our-new-product .class-card .card .new-content .more .tag {
    font-size: 10px;
  }
  .top-sell-product h2 {
    padding-top: 120px;
    text-align: center;
    color: #0D99FF;
  }
  .top-sell-product .selling-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
  }
  .top-sell-product .selling-product .card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    border: none;
    background: #000;
  }
  .top-sell-product .selling-product .card .sell-img {
    position: absolute;
    top: -30%;
    flex: 1;
    display: flex;
  }
  .top-sell-product .selling-product .card .sell-img img {
    width: 70%;
    margin: auto;
  }
  .top-sell-product .selling-product .card .more {
    border-radius: 15px;
    padding-top: 30px;
    margin-top: auto;
  }
  .top-sell-product .selling-product .card .more p {
    color: white;
    padding: 20px;
  }
  .top-sell-product .selling-product .card .more .check {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .top-sell-product .selling-product .card .more .check .price {
    color: white;
  }
  .top-sell-product .selling-product .card .more .check button {
    background: #0D99FF;
    color: white;
  }
}/*# sourceMappingURL=home.css.map */
=======
<<<<<<< HEAD
}/*# sourceMappingURL=home.css.map */
=======
}
>>>>>>> 7f2cd560ff1877b64919e4ab12ea53fbe8e1ec02
>>>>>>> 8ee2b00ba14e426dc13832c78bd5a0bc00a50e50
>>>>>>> 316180d23d271932c78653326764ead53e3f2580
