@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu:wght@500&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  padding: 0px 80px;
  height: 85px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  display: grid;
  align-items: center;
  color: #4b4b4b;
  border-bottom: 1px solid #F0EEF0;
}
nav .nav-left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .nav-left a h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
}
nav a {
  font-weight: 100;
  font-size: 18px;
  color: #4b4b4b;
}
nav ul {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul .after a {
  text-decoration: underline;
  color: #B68C3F;
}
nav ul li a {
  transition: ease 0.4s;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #B68C3F;
}
nav .dropdown {
  display: none;
  position: relative;
}
nav .dropdown:hover .dropdown-content {
  display: block;
}
nav .dropdown .dropbtn {
  background-color: #fff;
  color: #B68C3F;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
}
nav .dropdown .dropbtn:hover {
  color: #edb141;
}
nav .dropdown .dropdown-content {
  z-index: 5000;
  display: none;
  position: absolute;
  top: 40px;
  right: -30px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav .dropdown .dropdown-content li {
  padding: 15px;
  transition: 0.3s;
  font-size: 16px;
  background-color: #B68C3F;
  cursor: pointer;
  transition: 0.3s;
}
nav .dropdown .dropdown-content li a {
  color: white;
}
nav .dropdown .dropdown-content li:hover {
  background-color: #edb141;
}
nav .nav-right {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
}
nav .nav-right .search {
  position: relative;
  width: 90%;
  display: flex;
}
nav .nav-right .search input[type=search] {
  border-radius: 25px;
  border: 1px solid gray;
  font-size: 17px;
  width: 100%;
  padding: 10px 15px 10px 40px;
  font-family: Arial, Helvetica, sans-serif;
  outline-color: rgb(181, 181, 181);
}
nav .nav-right .search span {
  position: absolute;
  left: 15px;
  top: 11px;
}
@media screen and (max-width: 620px) {
  nav .nav-right {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    grid-template: 1fr/20% 45% 35%;
    padding-left: 50px;
    padding-right: 50px;
  }
  nav .nav-right {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
  }
  nav .nav-right .search {
    margin-left: auto;
  }
  nav ul, nav .dropdown {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
@media screen and (max-width: 730px) {
  nav {
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 20% 60% 20%;
  }
  nav ul {
    display: none;
  }
  nav .dropdown {
    display: block;
    grid-column: 2/4;
  }
}
@media screen and (max-width: 620px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: 25% 60% 15%;
  }
  nav .nav-left a h1 {
    font-size: 20px;
  }
}

.card {
  border-radius: 10px;
  border: 1px solid #919092;
}

button {
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer {
  padding: 30px 80px;
  display: grid;
  grid-template: 1fr/repeat(6, 1fr);
  background: #000;
  gap: 5%;
}
footer .logo-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 1/3;
}
footer .logo-content .foot-content {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
footer .our-product,
footer .our-service {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .our-product {
  grid-column: 3/4;
}
footer .our-service {
  grid-column: 4/5;
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 5/7;
}
footer .contact .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .contact .info a {
  color: white;
}
footer .contact .info a:hover {
  color: #0D99FF;
}
footer .contact .info p {
  display: flex;
  gap: 5px;
}
footer .contact .media {
  display: flex;
  gap: 10%;
}
footer .contact .media a i {
  color: white;
  font-size: 30px;
}
footer .contact .media a i:hover {
  color: #0D99FF;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer ul li {
  font-weight: 300;
  list-style-type: disc;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 30px 100px;
    grid-template: repeat(2, 1fr)/repeat(6, 1fr);
    gap: 0;
  }
  footer .logo-content {
    grid-row: 1/2;
    grid-column: 2/6;
    text-align: center;
    display: flex;
  }
  footer .logo-content .foot-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .our-product {
    grid-column: 1/3;
  }
  footer .our-service {
    grid-column: 3/5;
  }
  footer .contact {
    grid-column: 5/7;
  }
  footer .our-product,
  footer .our-service,
  footer .contact {
    grid-row: 2/3;
  }
}
@media screen and (max-width: 730px) {
  footer {
    padding: 10px 20px;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
  }
  footer .logo-content {
    gap: 0px;
  }
  footer .logo-content p {
    font-size: 14px;
  }
  footer .our-product {
    grid-row: 2/3;
    margin-top: 20px;
  }
  footer .our-service {
    grid-row: 3/4;
  }
  footer .contact {
    grid-row: 4/5;
  }
  footer .our-product,
  footer .our-service,
  footer .contact {
    gap: 0px;
    grid-column: 2/6;
  }
  footer .our-product .info, footer .our-product .media,
  footer .our-service .info,
  footer .our-service .media,
  footer .contact .info,
  footer .contact .media {
    margin: auto;
  }
  footer .our-product .info p a, footer .our-product .media p a,
  footer .our-service .info p a,
  footer .our-service .media p a,
  footer .contact .info p a,
  footer .contact .media p a {
    font-size: 12px;
  }
  footer .our-product .media,
  footer .our-service .media,
  footer .contact .media {
    display: flex;
    gap: 20px;
  }
  footer .our-product, footer .our-service {
    grid-column: 3/5;
  }
  footer .our-product ul, footer .our-service ul {
    text-align: start;
  }
  footer .our-product ul li, footer .our-service ul li {
    list-style-type: disc;
    font-size: 12px;
  }
}

header {
  position: relative;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 150px 80px;
  display: flex;
}
header .blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 0, 19, 0.5);
}
header .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
header .content h1 {
  color: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;
}
@media screen and (max-width: 620px) {
  header .content h1 {
    font-size: 20px;
  }
}
header .content h1 span {
  font-family: "Ubuntu", sans-serif;
  color: #0D99FF;
  text-shadow: rgba(13, 154, 255, 0.4549019608) 0px 1px 20px;
}
@media screen and (max-width: 620px) {
  header .content h1 span {
    font-size: 15px;
  }
}
header .content p {
  color: white;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 120px 80px;
  }
  header .content {
    width: 80%;
    gap: 10px;
  }
}
@media screen and (max-width: 730px) {
  header {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 620px) {
  header {
    padding: 80px 20px;
  }
}

.material-symbols-outlined {
  color: #0D99FF;
}

body {
  background: #F0EEF0;
}
body header {
  background-image: url(https://animalmedicinesaustralia.org.au/wp-content/uploads/2022/11/Pet-report-2022-website-image-cropped-2-1120x630.jpg);
  background-position: center;
}
body .category {
  padding: 30px 80px;
}
body .category h3,
body .category h2 {
  font-family: "Ubuntu", sans-serif;
}
body .category .pet {
  padding-top: 60px;
}
body .category .pet .title {
  font-size: 20px;
  padding: 0 15px;
  border-left: 5px solid #B68C3F;
}
body .category .pet .title h4 {
  text-decoration: underline;
  color: #0D99FF;
}
body .category .pet .card_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 30px;
}
body .category .pet .card_container .card {
  display: flex;
  flex-direction: column;
  height: 380px;
  padding: 25px;
  width: 23%;
  border: 1px solid #919092;
  border-radius: 15px;
  background-color: #fff;
  background: #000000;
  animation: mymove 6s infinite linear;
}
body .category .pet .card_container .card:nth-child(2) .pet-img {
  background-image: url(../IMAGES/home-page/cat.jpg);
}
body .category .pet .card_container .card:nth-child(3) .pet-img {
  background-image: url(../IMAGES/home-page/bird.jpg);
}
body .category .pet .card_container .card:nth-child(4) .pet-img {
  background-image: url(../IMAGES/home-page/rabbit.png);
}
body .category .pet .card_container .card .pet-img {
  display: flex;
  height: 45%;
  width: 100%;
  background-image: url(../IMAGES/home-page/dog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position: center;
  border-radius: 15px;
}
body .category .pet .card_container .card .pet-content {
  padding-top: 20px;
  height: 55%;
  font-size: 15px;
  gap: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}
body .category .pet .card_container .card .pet-content .Btn {
  padding-top: 20px;
}
body .category .pet .card_container .card .pet-content .Btn button {
  display: flex;
  align-items: center;
  color: white;
  background-color: #0D99FF;
  cursor: pointer;
  transition: 0.3s;
}
body .category .pet .card_container .card .pet-content .Btn button:hover {
  background: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body .category .pet .card_container .card .pet-content ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15%;
}
@media screen and (max-width: 1024px) {
  body .category .pet .card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  body .category .pet .card_container .card {
    width: 48%;
    display: flex;
  }
  body .category .pet .card_container .card .pet-img {
    flex: 3;
  }
  body .category .pet .card_container .card .pet-content {
    flex: 1;
  }
}
@media screen and (max-width: 730px) {
  body .category .pet .card_container {
    display: flex;
    flex-wrap: wrap;
  }
  body .category .pet .card_container .card {
    width: 47%;
  }
}
@media screen and (max-width: 620px) {
  body .category .pet .card_container {
    display: flex;
    padding: 30px 0px;
  }
  body .category .pet .card_container .card {
    width: 100%;
  }
}
@keyframes mymove {
  0% {
    background: #000000;
  }
  20% {
    background: #190031;
  }
  40% {
    background: #00253f;
  }
  60% {
    background: #00323f;
  }
  80% {
    background: #011e33;
  }
  100% {
    background: #000000;
  }
}
body .category .product {
  padding-bottom: 30px;
  padding-top: 60px;
}
body .category .product .title {
  font-size: 20px;
  padding: 0 15px;
  border-left: 5px solid #B68C3F;
}
body .category .product .title h4 {
  text-decoration: underline;
  color: #0D99FF;
}
body .category .product .group-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 30px;
}
body .category .product .group-card .card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  border: 1px solid #919092;
  border-radius: 15px;
  background: #000000;
  animation: mymove 6s infinite linear;
  padding: 30px;
  gap: 25px;
}
body .category .product .group-card .card:nth-child(2) .product-img {
  background-image: url(/IMAGES/home-page/feed-pro.jpg);
}
body .category .product .group-card .card:nth-child(1) .product-img {
  background-image: url(/IMAGES/home-page/compjpg.jpg);
}
body .category .product .group-card .card:nth-child(3) .product-img {
  background-image: url(/IMAGES/home-page/sarang-pro.jpg);
}
body .category .product .group-card .card .product-img {
  flex: 1;
  background-image: url(/IMAGES/home-page/pro-cat.jpg);
  background-size: cover;
  border-radius: 15px;
}
body .category .product .group-card .card .product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .category .product .group-card .card .product-content p {
  text-align: start;
  color: white;
}
body .category .product .group-card .card .product-content .more {
  display: flex;
  justify-content: space-between;
}
body .category .product .group-card .card .product-content .more .price {
  color: #B68C3F;
}
@media screen and (max-width: 1024px) {
  body .category .product .group-card {
    display: flex;
    flex-wrap: wrap;
  }
  body .category .product .group-card .card {
    width: 48%;
    display: flex;
  }
  body .category .product .group-card .card .product-img {
    flex: 3;
  }
  body .category .product .group-card .card .product-content {
    flex: 1;
  }
}
@media screen and (max-width: 730px) {
  body .category .product .group-card {
    display: flex;
    flex-wrap: wrap;
  }
  body .category .product .group-card .card {
    width: 47%;
  }
}
@media screen and (max-width: 620px) {
  body .category .product .group-card {
    display: flex;
  }
  body .category .product .group-card .card {
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  body .category {
    padding: 30px 50px;
  }
}
body .our-new-product {
  padding: 30px 80px;
}
body .our-new-product .title {
  font-size: 20px;
  padding: 0 15px;
  border-left: 5px solid #B68C3F;
}
body .our-new-product .title h4 {
  text-decoration: underline;
  color: #0D99FF;
}
body .our-new-product .class-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding-top: 30px;
}
body .our-new-product .class-card .card {
  padding: 30px;
  height: 380px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #919092;
  border-radius: 15px;
  background-color: #fff;
}
body .our-new-product .class-card .card:nth-child(2) .new-img {
  background-image: url(/IMAGES/home-page/cat-new.jpg);
}
body .our-new-product .class-card .card:nth-child(3) .new-img {
  background-image: url(/IMAGES/home-page/new-pro.png);
}
body .our-new-product .class-card .card:nth-child(4) .new-img {
  background-image: url(/IMAGES/home-page/sukina.jpg);
}
body .our-new-product .class-card .card:nth-child(5) .new-img {
  background-image: url(/IMAGES/home-page/little-dog.png);
}
body .our-new-product .class-card .card:nth-child(6) .new-img {
  background-image: url(/IMAGES/home-page/big\ cat.png);
}
body .our-new-product .class-card .card:nth-child(7) .new-img {
  background-image: url(/IMAGES/home-page/big-rabbit.jpg);
}
body .our-new-product .class-card .card:nth-child(8) .new-img {
  background-image: url(/IMAGES/home-page/red-bird.jpg);
}
body .our-new-product .class-card .card .new-img {
  flex: 1;
  display: flex;
  background-image: url(/IMAGES/home-page/doll.jpg);
  background-size: cover;
  border-radius: 15px;
}
body .our-new-product .class-card .card .new-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
body .our-new-product .class-card .card .new-content .more {
  display: flex;
  justify-content: space-between;
}
body .our-new-product .class-card .card .new-content .more .price {
  color: #B68C3F;
}
body .our-new-product .class-card .card .new-content .more .tag {
  color: #0D99FF;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  body .our-new-product .class-card {
    display: flex;
    flex-wrap: wrap;
  }
  body .our-new-product .class-card .card {
    width: 48%;
  }
  body .our-new-product .class-card .card .new-img {
    flex: 4;
  }
  body .our-new-product .class-card .card .new-content {
    flex: 1;
  }
}
@media screen and (max-width: 730px) {
  body .our-new-product .class-card {
    display: flex;
    flex-wrap: wrap;
  }
  body .our-new-product .class-card .card {
    width: 47%;
  }
}
@media screen and (max-width: 620px) {
  body .our-new-product .class-card {
    display: flex;
  }
  body .our-new-product .class-card .card {
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  body .our-new-product {
    padding: 30px 50px;
  }
}
body .top-sell-product {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .top-sell-product .feed-content {
  padding: 15px;
  border-left: 5px solid #B68C3F;
}
body .top-sell-product .feed-content h4 {
  font-size: 20px;
}
body .top-sell-product .feed-content h2 {
  font-size: 30px;
}
body .top-sell-product .group-feed {
  background-color: #F0EEF0;
  display: grid;
  grid-template: 90% 10%/repeat(3, 1fr);
  gap: 20px;
  padding: 50px 0px;
}
body .top-sell-product .group-feed .card {
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  background-color: #000;
  cursor: pointer;
  transition: ease 0.3s;
  padding: 30px;
}
body .top-sell-product .group-feed .card .card-image {
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: -20px;
  border: 1px solid #F0EEF0;
  background-image: url(../IMAGES/service_page/dog\ feed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position: center top;
  height: 45%;
  width: 90%;
}
body .top-sell-product .group-feed .card .card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .top-sell-product .group-feed .card .card-content .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .top-sell-product .group-feed .card .card-content .content p {
  font-weight: 300;
}
body .top-sell-product .group-feed .card .card-content .price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
body .top-sell-product .group-feed .card .card-content .price a button {
  background-color: #000;
  border: 1px solid #fff;
  transition: ease 0.3s;
  color: white;
}
body .top-sell-product .group-feed .card .card-content .price a button:hover {
  box-shadow: rgba(13, 154, 255, 0.6431372549) 0px 20px 80px;
}
body .top-sell-product .group-feed .card .card-content .price a button:active {
  background: #252525;
}
body .top-sell-product .group-feed .card:hover {
  box-shadow: #616161 0px 2px 4px 0px, #616161 0px 2px 16px 0px;
}
body .top-sell-product .group-feed .card:nth-child(1) .card-image {
  background-image: url(../IMAGES/home-page/Allergy-Aid.jpg);
}
body .top-sell-product .group-feed .card:nth-child(2) .card-image {
  background-image: url(../IMAGES/service_page/dogs\ feed.jpg);
}
body .top-sell-product .group-feed .card:nth-child(3) .card-image {
  background-image: url(../IMAGES/service_page/cat\ feeds.jpg);
}
body .top-sell-product .group-feed a {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
}
body .top-sell-product .group-feed a button {
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
body .top-sell-product .group-feed a button:hover {
  background: #0D99FF;
  color: black;
}
@media screen and (max-width: 850px) {
  body .top-sell-product .group-feed {
    gap: 50px;
    padding: 30px 100px;
    grid-template: 1fr 1fr 1fr 30px/1fr;
  }
  body .top-sell-product .group-feed a {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 730px) {
  body .top-sell-product .group-feed {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 620px) {
  body .top-sell-product .group-feed {
    padding: 30px 0px;
  }
}