@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu:wght@500&display=swap");
button {
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
body form {
  width: 30%;
  padding: 25px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
body form h2 {
  text-align: center;
}
body form .complete {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body form .complete input {
  outline: none;
  border-radius: 25px;
  border: 1px solid gray;
  font-size: 17px;
  width: 100%;
  padding: 10px 15px 10px 40px;
  font-family: Arial, Helvetica, sans-serif;
  outline-color: rgb(181, 181, 181);
  border-radius: 5px;
  padding: 9px;
}
body form button {
  padding: 9px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
}
body form button:hover {
  background: rgb(233, 45, 76);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}