@import "./main";
@import "./Component/header";
@import "./Group-Mixin/Grid-Mixin";
@import "./Component/variable";

#header {
    background-image: url(/IMAGES/Aboutpage/Header\ section.png);
    height: 500px;
}

#ceo {
    margin: 80px 0 80px 100px;
    @include gridCenter;
    grid-template-columns: repeat(2, 1fr);

    .ceo-text {
        @include gridCenter;
        grid-template-rows: repeat(3, 0.5fr);

        p {
            margin: 0 50px 0 0;
            font-size: 20px;
        }
    }


    .member-img {
        @include gridCenter;
        justify-content: center;
    }
}

#our-team {

    @include gridCenter;
    justify-content: center;
    grid-template-rows: 0.2fr 1fr;
    padding-bottom: 10px;
    background: $main-card-border;

    h1 {
        margin-top: 10px;
        text-align: center;
    }

    .group-member {
        @include gridCenter;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .card-member {
        background: black;
        padding: 30px;
        border-radius: 20px;
        text-align: left;
        color: $main-background;

        p {
            font-size: 10px;
        }

        span {
            color: $main-bg-color;
        }
    }

    .position {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

#values {
    h1 {
        margin-top: 10px;
        text-align: center;
    }

    @include gridCenter;
    grid-template-rows: 0.1fr 1fr;
    padding:30px 50px;

    .group-values {
        @include gridCenter;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;

        .value {
            @include gridCenter;
            gap: 20px;
            grid-template-columns: 0.1fr 0.8fr;
            justify-content: center;

            span {
                border-radius: 50%;
                font-size: 50px;
                padding: 30px;
                background: $main-background;
                color: $main-text-color;
            }
        }
    }
}

#mission {
    background-image: url(/IMAGES/Aboutpage/Mission.png);
    height: 400px;

    h1 {
        color: $main-bg-color;
    }

    p {
        font-size: 20px;
    }
}

#community {
    h1 {
        margin-top: -50px;
        margin-bottom: 50px;
        text-align: center;
        color: $main-bg-color;
    }

    padding: 80px;

    .group-community {
        display: flex;
        align-items: center;
        gap: 60px;

        .meaning {
            display: flex;
            flex-direction: column;

            h2 {
                color: $main-text-color;
                font-size: 35px;
            }

            p {
                font-size: 25px;
            }
        }

        img {
            width: 520px;
        }

    }
}

#customer {
    h1 {
        margin-top: -50px;
        margin-bottom: 30px;
        color: $main-bg-color;
    }

    padding: 80px;

    .group-comment {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .comment {
            display: flex;
            flex-direction: column;

            .feedback {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 50px;
                }

            }

            p {
                margin-left: 70px;
            }
        }
    }

}

@media(max-width:820px) {
    #header {
        height: 100px;

        h1 {
            font-size: 25px;
        }
    }

    #ceo {
        height: 300px;
        margin: 50px -10px 50px 50px;

        h1 {
            font-size: 25px;
        }

        .ceo-text {
            width: 400px;

            p {
                font-size: 15px;
            }
        }

        .member-img {
            img {
                width: 250px;
            }
        }
    }

    #our-team {
        h1 {
            font-size: 25px;
        }

        .group-member {
            margin: 20px 0;
            gap: 40px;

            .card-member {
                h3 {
                    font-size: 15px;
                }

                p {
                    font-size: 10px;
                }

                span {
                    color: $main-bg-color;
                }

                img {
                    width: 150px;
                }

            }

            .position {
                img {
                    width: 40px;
                }
            }
        }

    }


    #values {
        h1 {
            margin-bottom: 20px;
            font-size: 25px;
        }

        margin-bottom: 20px;

        .group-values {
            gap: 50px;

            .value {
                span {
                    font-size: 40px;
                    padding: 20px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 13px;
                    width: 230px;
                }
            }
        }
    }

    #mission {
        h1 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }

        padding: 50px;
        align-items: center;
    }

    #community {
        margin-top: 40px;
        padding: 50px;

        .group-community {

            .meaning {

                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                }
            }

            img {
                width: 320px;
            }

        }
    }

    #customer {
        padding: 50px;
    }

}


@media(max-width:370px) {
    #header {
        height: 150px;
        padding: 30px 10px;

        .content {
            gap: 10px;

            h1 {
                font-size: 10px;
                margin-top: 10px;
            }

            p {
                font-size: 6px;
                margin-top: 10px;
            }
        }
    }

    #ceo {
        height: 100px;
        margin: 10px -10px 5px 10px;
        gap: 1px;

        h1 {
            font-size: 10px;
        }

        .ceo-text {
            width: 200px;

            p {
                font-size: 5px;
            }
        }

        .member-img {
            img {
                width: 50px;
                margin-left: -100px;
            }
        }
    }

    .media {
        h4 {
            font-size: 10px;
        }

        i {
            font-size: 10px;
        }
    }

    #our-team {
        width: 250px;

        h1 {
            margin-bottom: -10px;
            font-size: 10px;
        }

        .group-member {
            height: 90px;
            grid-template-columns: repeat(3, 0.2fr);
            gap: 10px;

            .card-member {
                height: 100px;
                width: 70px;
                padding: 10px;
                border-radius: 10px;

                img {
                    width: 50px;
                }

                h3 {
                    font-size: 5px;
                }

                p {
                    font-size: 3px;
                }

                span {
                    color: $main-bg-color;
                }

                .position {
                    margin-top: 10px;
                    gap: 3px;

                    img {
                        width: 10px;
                    }

                    h5 {
                        font-size: 3px;
                    }
                }
            }
        }


    }

    #values {
        width: 250px;
        height: 80px;
        padding: 10px;

        h1 {
            margin-bottom: -2px;
            margin-top: -5px;
            font-size: 10px;
        }


        .group-values {
            gap: 2px;

            .value {
                gap: 4px;

                span {
                    font-size: 10px;
                    padding: 5px;
                }

                h3 {
                    font-size: 5px;
                }

                p {
                    font-size: 4px;
                    width: 80px;
                }
            }
        }
    }


    #mission {
        width: 250px;
        padding: 15px;
        height: 150px;

        .content {
            width: 200px;

            h1 {
                font-size: 10px;
            }

            p {
                font-size: 8px;
                margin-top: -10px;
            }

        }

    }



    #community {
        width: 250px;

        h1 {
            font-size: 10px;
        }

        padding: 10px;
        .group{
            margin-top: -40px;
        }
        .group-community {
            margin-left: 5px;
            gap: 20px;
            .meaning {
                h2 {
                    font-size: 6px;

                }

                p {
                    font-size: 5px;
                    width: 100px;
                }
            }

            img {
                width: 100px;
            }

        }
    }

    // #customer {
    //     margin-top: 20px;

    //     h1 {
    //         font-size: 25px;
    //     }

    //     padding: 30px;

    //     .comment {
    //         h1 {
    //             font-size: 25px;
    //         }

    //         p {
    //             font-size: 11px;
    //         }
    //     }

    // }
}