@import "./main";
@import "./Component/header";
@import "./Group-Mixin/Grid-Mixin";
@import "./Component/variable";

#header {
    background-image: url(/IMAGES/Aboutpage/Header\ section.png);
    height: 500px;
}

#ceo {
    margin: 80px 0 80px 100px;
    @include gridCenter;
    grid-template-columns: repeat(2, 1fr);

    .ceo-text {
        @include gridCenter;
        grid-template-rows: repeat(3, 0.5fr);

        p {
            margin: 0 50px 0 0;
            font-size: 20px;
        }

        .media {
            .group-icon {
                i {
                    color: $main-text-color;
                    margin-left: 10px;
                    font-size: 20px
                }

                i:hover {
                    color: black;
                }
            }



        }
    }


    .member-img {
        @include gridCenter;
        justify-content: center;
    }
}

#our-team {
    @include gridCenter;
    justify-content: center;
    grid-template-rows: 0.2fr 1.4fr;
    padding-bottom: 10px;
    background: $main-card-border;
    padding: 0 80px 20px 80px;

    h2{
        margin: 20px;
        text-align: center;

    }

    .gruop-team {
        display: flex;
        gap: 65px;

        .card-client {
            background: black;
            width: 20rem;
            height: 20rem;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
            border: 2px solid $main-text-color;
            box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
            border-radius: 10px;
            text-align: center;
            color: #fff;
            font-family: "Poppins", sans-serif;
            transition: all 0.3s ease;
            p{
                color: $main-text-color;
            }
        }

        .card-client:hover {
            transform: translateY(-10px);
        }

        .user-picture {
            overflow: hidden;
            object-fit: cover;
            width: 5rem;
            height: 5rem;
            border: 2px solid $main-text-color;
            border-radius: 999px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .user-picture img {
            width: 5rem;
        }

        .name-client {
            margin: 0;
            margin-top: 20px;
            font-weight: 600;
            font-size: 18px;
        }

        .name-client span {
            display: block;
            font-weight: 200;
            font-size: 16px;
        }

        .social-media:before {
            content: " ";
            display: block;
            width: 100%;
            height: 1px;
            margin: 20px 0;
            background: $main-text-color;
        }

        .social-media a {
            position: relative;
            margin-right: 15px;
            text-decoration: none;
            color: inherit;
        }
        .social-media a :hover{
            color:$main-text-color ;
        }

        .social-media a:last-child {
            margin-right: 0;
        }

        .social-media a svg {
            width: 1.1rem;
            fill: currentColor;
        }

        /*-- Tooltip Social Media --*/
        .tooltip-social {
            background: #262626;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            padding: 0.5rem 0.4rem;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: 600;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%, -90%);
            transition: all 0.2s ease;
            z-index: 1;
        }

        .tooltip-social:after {
            content: " ";
            position: absolute;
            bottom: 1px;
            left: 50%;
            border: solid;
            border-width: 10px 10px 0 10px;
            border-color: transparent;
            transform: translate(-50%, 100%);
        }

        .social-media a .tooltip-social:after {
            border-top-color: #262626;
        }

        .social-media a:hover .tooltip-social {
            opacity: 1;
            transform: translate(-50%, -130%);
        }

    }


}

#values {
    h2 {
        margin-top: 10px;
        text-align: center;
    }

    @include gridCenter;
    grid-template-rows: 0.1fr 1fr;
    padding:30px 50px;

    .group-values {
        @include gridCenter;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;

        .value {
            @include gridCenter;
            gap: 20px;
            grid-template-columns: 0.1fr 0.8fr;
            justify-content: center;

            span {
                border-radius: 50%;
                font-size: 50px;
                padding: 30px;
                background: $main-background;
                color: $main-text-color;
            }
        }
    }
}

#mission {
    background-image: url(/IMAGES/Aboutpage/Mission.png);
    height: 400px;

    h1 {
        color: $main-bg-color;
    }

    p {
        font-size: 20px;
    }
}

#community {
    background: $main-background;
    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: $main-bg-color;
        padding-top: 20px;
    }


    .group {
        .card-community {
            margin: 0 80px;
            display: flex;
            gap: 80px;
            align-items: center;

            img {
                width: 400px;
            }

            .meaning {
                h3 {
                    font-size: 25px;
                    margin: 0;
                    color: $main-text-color;
                }

                p {
                    font-size: 20px;
                }
            }
   

        }
         #revers{
                display: flex;
                flex-direction: row-reverse;
                text-align: right;
            }

    }


}

#customer {
    h2 {
        margin-top: -50px;
        margin-bottom: 30px;
        color: $main-bg-color;
    }

    padding: 80px;

    .group-comment {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .comment {
            display: flex;
            flex-direction: column;

            .feedback {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 50px;
                }

            }

            p {
                margin-left: 70px;
            }
        }
    }

}