@import "./main";
@import "./Component/header";
@import "./Component/variable";

header {
    background-image: url(../IMAGES/cat-3131.gif);
}
.category {
    text-align: center;
    padding: 30px $standard-padding;
    h3,h2 {
        font-family: $main-font-header;
    }
}