@import "./main";
@import "./Component/header";
@import "./Group-Mixin/Flex-Mixin";
@import "./Group-Mixin/Grid-Mixin";

header {
    padding: 80px 0px;
    position: relative;
    background-image: url(../IMAGES/service_page//background.jpg);
    @include flexCenter;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    gap: 15px;
    .background {
        background: linear-gradient(rgba(10, 1, 50, 0.387), rgba(3, 29, 51, 0.415));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .search {
        position: relative;
        @include flexCenter;
        width: 50%;
        input[type=search] {
            @include inputStyle;
            background-color: #ffffffe8;
            outline: 1px solid rgba(255, 255, 255, 0.627);
        }
        span {
            position: absolute;
            left: 15px;
            color: $main-text-color;
        }
    }

    .group_btn {
        width: 100%;
        display: flex;
        z-index: 1;
        margin-top: 30px;
        justify-content: center;
        gap: 20px;
    }
    @include responsive("laptop") {
        // responsive
        .search {
            position: relative;
            @include flexCenter;
            width: 80%;
            input[type=search] {
                @include inputStyle;
                background-color: #ffffffe8;
                outline: 1px solid rgba(255, 255, 255, 0.627);
            }
            span {
                position: absolute;
                left: 15px;
                color: #4d4d4d;
            }
        }
    }
    @include responsive("phone") {
        padding: 30px 0px;
        .content {
            h1 {
                font-size: 20px;
                span {
                    font-size: 20px;
                }
            }
            p {
                font-size: 14px;
            }
        }
        .search {
            input {
                padding: 5px 15px 5px 40px;
            }
        }
        .group_btn {
            margin-top: 5px;
            gap: 10px;
            button {
                font-size: 12px;
            }
        }
    }
}

p {
    font-weight: 300;
}

#service,
#pets {
    text-align: center;
    gap: 25px;
}

#service,
.card {
    @include flexDirection;

    h3 {
        text-decoration: underline;
    }

    h2,
    h3 {
        font-family: $main-font-header;
        font-weight: normal;
        color: $main-bg-color;
    }

    p {
        color: white;
    }

    h3,
    p,
    a {
        z-index: 1;
    }

}

#service {
    background-color: $main-background;
    .group_card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .card {
            position: relative;
            min-height: 350px;
            max-height: 400px;
            text-align: start;
            gap: 10px;
            border: none;
            background-image: url(../IMAGES/service_page/Veterinarian.jpg);
            cursor: pointer;
            transition: 0.4s;
            .blur {
                position: absolute;
                bottom: 0;left: 0;
                @include flexDirection;
                justify-content: space-between;
                transition: 0.4s;
                border-radius: 0px 0px 10px 10px;
                padding: 15px;
                background: linear-gradient(rgba(12, 3, 51, 0.5), rgba(12, 3, 51, 0.5));
                height: 55%;
                h3 {
                    color: $main-text-color;
                }
            }
            @include backgroundImage;
            a {
                @include flexCenter;
                color: $main-text-color;
            }
        }

        .card:nth-child(2) {
            background-image: url(../IMAGES/service_page/Pet\ care\ professional.jpg);
        }

        .card:nth-child(3) {
            background-image: url(../IMAGES/service_page/Pet\ adoption.jpg);
        }

        .card:nth-child(4) {
            background-image: url(../IMAGES/service_page/Delivery.jpg);
        }
    }
    @include responsive("laptop") { // 1024px
        .group_card {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            .card {
                background-position: center;
            }
        }
    }
    @include responsive("tablet") { // 730px
        .group_card {
            .card {
                .blur {
                    height: 50%;
                }
            }
        }
    }
    @include responsive("phone") { // 620px
        .group_card {
            grid-template: repeat(4, 1fr) / 1fr;
            padding: 0px 10px;
            .card {
                min-height: 250px;
                max-height: 350px;
                .blur {
                    padding: 10px;
                    .content {
                        h3 {
                            font-size: 16px;
                        }
                        p {
                            font-size: 12px;
                        }
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 18px;
        }
        h4 {
            font-size: 14px;
        }
    }
}

#pets,
.group-card {
    display: grid;
}

#pets {
    grid-template-rows: 20% 80%;
    gap: 20px;

    h2 {
        color: $main-bg-color;
        font-family: $main-font-header;
        font-weight: normal;
    }

    .group-card {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .card {
            position: relative;
            background-image: url(../IMAGES/service_page/pet_cat.jpg);
            @include backgroundImage;
            background-position: center;
            height: 400px;
            background-color: $main-bg-color;
            display: flex;
            padding: 70% 20px 30px 20px;
            border: none;
            .blur {
                width: 100%;
                height: 100%;
                @include absolutePosition;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), black 70%);
                border-radius: 10px;
            }
            .card-content {
                z-index: 1;
                flex: 1;
                @include flexDirection;
                justify-content: space-between;
                .content {
                    h3 {
                        color: $main-text-color;
                    }
                    p,
                    h3 {
                        text-align: start;
                    }
                }
            }

        }

        .card:nth-child(2) {
            background-image: url(../IMAGES/service_page/pet_dog.jpg);
        }

        .card:nth-child(3) {
            background-image: url(../IMAGES/service_page/pet_parrot.jpg);
        }

        .card:nth-child(4) {
            background-image: url(../IMAGES/service_page/pet_rabbit.jpg);
        }
    }
    @include responsive("laptop") { // 1024px
        grid-template-rows: 10% 90%;
        .group-card {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            .card {
                height: auto;
                .card-content {
                    gap: 20px;
                }
            }
        }
    }
    @include responsive("phone") {
        grid-template-rows: 100px 90%;
        .group-card {
            padding: 0px 10px;
            grid-template: repeat(4, 1fr) / 1fr;
            .card {
                padding: 50% 20px 30px 20px;
            }
        }
        p,
        span {
            font-size: 15px;
        }
        h2 {
            font-size: 18px;
        }
        h4 {
            font-size: 14px;
        }
    }
}

#products {
    @include flexDirection;
    gap: 50px;
    background-color: $main-background;
    #accessories {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 30px;
        .content {
            width: 50%;
            @include flexDirection;
            gap: 20px;
            .accessories-content {
                @include flexDirection;
            }
            p {
                font-size: 18px;
            }
        }
        .accessories-img {
            width: 50%;
            background-image: url(../IMAGES/service_page/bg-accessory.png);
            @include backgroundImage;
            background-position: center;
        }
    }

    #our-product {
        .group-card {
            display: grid;
            @include Four;
            grid-template: repeat(2, 1fr) / repeat(4, 1fr);
            gap: 20px;
            .card {
                @include flexDirection;
                height: 400px;
                border: none;
                .image {
                    height: 45%;
                    background-image: url(../IMAGES/service_page/Summer-Cactus-Sisal-Climbing-FrameJumping-Platform-Cat-Claw-Grinding-min-450x450.jpg);
                    @include backgroundImage;
                }

                .content {
                    height: 55%;
                    padding: 25px;
                    background: $main-bg-color;
                    @include flexDirection;
                    justify-content: space-between;
                    gap: 10px;

                    .price {
                        display: flex;
                        justify-content: space-between;

                        span {
                            color: black;
                            font-size: 18px;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        .original {
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .card:nth-child(2) .image {
                background-image: url(../IMAGES/service_page/Stuffed-Animal-Squeaker-Plush-Chewing-Toy-Supports-Active-Biting-2-min-450x450.jpg);
            }

            .card:nth-child(3) .image {
                background-image: url(../IMAGES/service_page/Squishy-Marshmallow-Ultra-Soft-Plush-Pet-Bed-40cm-4-min-450x450.jpg);
            }

            .card:nth-child(4) .image {
                background-image: url(../IMAGES/service_page/Upgrade-Detachable-Pet-Hammock-Lounge-Bed-3-min-450x450.jpg);
            }

            .card:nth-child(5) .image {
                background-image: url(../IMAGES/service_page/Male-Dog-Physiological-Pants-Belly-Wrap-Band-Cotton-Diaper-for-Pet-Washable-main-min-450x450.jpg);
            }

            .card:nth-child(6) .image {
                background-image: url(../IMAGES/service_page/Bohemian-Ceramic-Extra-Wide-Raised-Cat-Dog-Food-Bowl-12-min-450x450.jpg);
                background-position: center;
            }

            .card:nth-child(7) .image {
                background-image: url(../IMAGES/service_page/Green-Cloud-Meow-Style-Cat-Dog-Soft-Bed-House-RemovableWashable-min-450x450.jpg);
            }

            .card:nth-child(8) .image {
                background-image: url(../IMAGES/service_page/Cloudy-Bunny-Cozy-Pet-House-Kennel-Bed-Removable-and-Washable-2-450x450.jpg);
            }
        }
    }

    #feed {
        @include flexDirection;
        background-color: $main-bg-color;
        margin-top: 50px;
        .feed-content {
            padding: 80px 50px;
            display: flex;
            justify-content: center;
            gap: 50px;
            border-radius: 0px 25px 0px 25px;
            .image {
                width: 40%;
                background-image: url(../IMAGES/service_page/feed\ pet.jpg);
                @include backgroundImage;
            }
            .content {
                padding-left: 15px;
                width: 40%;
                @include flexDirection;
                gap: 15px;
                .contents {
                    @include flexDirection;
                    h4 {
                        color: white;
                    }
                }
                p {
                    font-size: 18px;
                }
            }
        }

        .group-feed {
            background-color: $main-background;
            display: grid;
            grid-template: 90% 10% / repeat(4, 1fr);
            gap: 20px;
            padding: 50px 0px;
            .card {
                position: relative;
                height: 400px;
                @include flexDirection;
                border: none;
                align-items: center;
                background-color: #000;
                cursor: pointer;
                transition: ease 0.3s;
                .card-image {
                    border-radius: 10px;
                    z-index: 1;
                    position: absolute;
                    top: -20px;
                    border: 1px solid $main-background;
                    background-image: url(../IMAGES/service_page/dog\ feed.jpg);
                    @include backgroundImage;
                    background-position: center top;
                    height: 45%;
                    width: 90%;
                }

                .card-content {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 55%;
                    padding: 10px;
                    @include flexDirection;
                    justify-content: space-between;

                    .content {
                        @include flexDirection;
                        gap: 10px;

                        p {
                            font-weight: 300;
                        }
                    }

                    .price {
                        @include flexBtween;
                        align-items: flex-end;

                        button {
                            background-color: #000;
                            border: 1px solid #fff;
                            transition: ease 0.3s;
                            color: white;

                            &:hover {
                                box-shadow: #0d9affa4 0px 20px 80px;
                            }

                            &:active {
                                background: #252525;
                            }
                        }
                    }
                }

                &:hover {
                    box-shadow: #616161 0px 2px 4px 0px, #616161 0px 2px 16px 0px;
                }
            }

            .card:nth-child(2) .card-image {
                background-image: url(../IMAGES/service_page/cat\ feed.jpg);
            }

            .card:nth-child(3) .card-image {
                background-image: url(../IMAGES/service_page/dogs\ feed.jpg);
            }

            .card:nth-child(4) .card-image {
                background-image: url(../IMAGES/service_page/cat\ feeds.jpg);
            }

            a {
                grid-column: 1/5;
            }
        }
    }
    @include responsive("laptop") {
        #our-product {
            .group-card {
                grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                .card {
                    .content {
                        padding: 15px;
                    }
                }
            }
        }
        #feed {
            .feed-content {
                position: relative;
                background-image: url(../IMAGES/service_page/feed\ pet.jpg);
                @include backgroundImage;
                background-position: center;
                .image {
                    display: none;
                }
                .content {
                    width: 100%;
                    color: white;
                    z-index: 1;
                    .contents {
                        h4 {
                            color: $main-text-color;
                            text-decoration: underline;
                        }
                    }
                }
                .blur {
                    position: absolute;
                    top: 0;right: 0;
                    width: 100%;height: 100%;
                    background: linear-gradient(135deg, rgba(0, 43, 43, 0.582), rgba(43, 64, 0, 0.565));
                }
            }
            .group-feed {
                grid-template: 1fr 1fr 30px / repeat(2, 11fr);
                row-gap: 40px;
                .card {
                    height: 350px;
                    .card-content {
                        padding: 20px;
                    }
                }
                a {
                    grid-row: 3/4;
                    grid-column: 1/3;
                }
            }
        }
    }
    @include responsive("middle") {
        #accessories {
            justify-content: center;
            flex-wrap: wrap;
            .content {
                position: relative;
                width: 100%;
                padding: 30px;
                background-image: url(../IMAGES/service_page/Bg-accessory.png);
                @include backgroundImage;
                background-position: center;
                .blur {
                    position: absolute;
                    top: 0;right: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(135deg, rgba(0, 43, 43, 0.582), rgba(43, 64, 0, 0.565));
                }
                .accessories-content,p, a {
                    z-index: 1;
                }
                h2 {
                    color: white;
                }
                p {
                    color: white;
                }
                a button {
                    background-color: #ffffff00;
                    border: 1px solid #fff;
                    &:hover {
                        background-color: $main-text-color;
                        border: 1px solid $main-text-color;
                    }
                    &:active {
                        box-shadow: 0 0 10px $main-text-color;
                        background: #000;
                    }
                }
            }
            .accessories-img {
                display: none;
            }
        }
        #our-product {
            .group-card {
                grid-template: repeat(4, 1fr) / repeat(2, 1fr);
                .card {
                    .image {
                        height: 60%;
                    }
                    .content {
                        height: 40%;
                    }
                }
            }
        }
        #feed {
            .group-feed {
                grid-template: 1fr 1fr 30px / repeat(2, 11fr);
                row-gap: 40px;
                .card {
                    height: 290px;
                    .card-content {
                        padding: 15px;
                        .content {
                            gap: 5px;
                        }
                    }
                }
                a {
                    grid-row: 3/4;
                    grid-column: 1/3;
                }
            }
        }
    }
    @include responsive("tablet") {
        #feed {
            .feed-content {
                padding: 20px;
                .content {
                    .contents {
                        h2 {
                            font-size: 20px;
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                    a button {
                        background-color: #ffffff00;
                        border: 1px solid #fff;
                        &:hover {
                            background-color: $main-text-color;
                            border: 1px solid $main-text-color;
                        }
                        &:active {
                            box-shadow: 0 0 10px $main-text-color;
                            background: #000;
                        }
                    }
                }
            }
        }
        #accessories {
            .content {
                p {
                    font-size: 14px;
                }
            }
        }
        button {
            font-size: 14px;
        }
    }
    @include responsive("phone") {
        p {
            font-size: 14px;
        }
        #accessories {
            .content {
                padding: 40px 30px;
                .accessories-content {
                    h2 {
                        font-size: 16px;
                    }
                }
                p {
                    font-size: 14px;
                    display: none;
                }
                a {
                    button {
                        font-size: 14px;
                    }
                }
            }
        }
        #our-product {
            p {
                font-size: 14px;
            }
            .group-card {
                grid-template: repeat(4, 1fr) / 1fr;
                .card {
                    background-position: center bottom;
                    height: 300px;
                    .image {
                        height: 60%;
                    }
                    .content {
                        padding: 10px;
                        height: 40%;
                        p {
                            font-size: 12px;
                        }
                        .price {
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .card:nth-child(2),
                .card:nth-child(3),
                .card:nth-child(5),
                .card:nth-child(6) {
                    display: none;
                }

            }
        }
        #feed {
            margin-top: 0;
            .feed-content {
                padding: 50px 20px;
                .content {
                    .contents {
                        h4 {
                            font-size: 14px;
                        }
                        h2 {
                            font-size: 16px;
                        }
                    }
                    p {
                        display: none;
                    }
                }
            }
            .group-feed {
                column-gap: 10px;
                grid-template: 1fr 1fr 30px / 1fr 1fr;
                padding: 40px 0px;
                .card {
                    height: 250px;
                    padding: 10px;
                    .card-content {
                        height: 65%;
                        .content {
                            h4 {
                                font-size: 12px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                        .price {
                            a {
                                button {
                                    font-size: 12px;
                                    padding: 5px 10px;
                                }
                            }
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
                a {
                    grid-column: 1/3;
                    grid-row: 3/4;
                }
            }
        }
    }
}


// the same style 
header .group_btn button,
#pets .group-card .card button {
    gap: 5px;
    background-color: #ffffff00;
    border: 1px solid #fff;
    color: white;
    font-weight: 400;
    transition: 0.3s;

    &:hover {
        box-shadow: #0d9affa4 0px 20px 80px;
    }

    &:active {
        color: black;
        background-color: white;
    }

    span {
        font-size: 16px;
    }
}
#accessories .content button,
#products a #view-all,
#feed .feed-content .content a button {
    transition: ease 0.3s;
    background: black;
    border: 1px solid #000;
    color: white;
    border-radius: 0px;

    &:hover {
        color: white;
        background-color: #000;
        padding: 5px 35px;
    }

    &:active {
        background-color: #ffffff00;
        color: black;
    }
}
.quote {
    padding: 0px 15px;
    border-left: 5px solid $main-bg-color;
    @include flexDirection;
    gap: 10px;

    h4 {
        text-align: start;
        color: $main-text-color;
        text-decoration: underline;
    }
    h2 {
        font-family: $main-font;
        text-decoration: none;
    }
}

#pets a #view-all,
#products a #view-all,
#feed a #view-all {
    margin: auto;
}

#service,
#pets,
#products {
    padding: 30px $standard-padding 50px $standard-padding;
    @include responsive("laptop") {
        padding: 30px 50px;
    }
    @include responsive("tablet") {
        padding: 30px 40px;
    }
    @include responsive("phone") {
        padding: 30px 30px;
        button {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
        }
    }
}
header {
    @include responsive("phone") {
        button {
            font-size: 12px;
            padding: 5px 10px;
        }
    }
}

h2 {
    text-decoration: underline;
}