@import "./main";
@import "./Component/header";

header {
    z-index: 1;
    flex-direction: column;
    background-image: url(../IMAGES/service_page/background_service.jpg);
    background-position: center top;
    align-items: center;
    .content {
        width: 70%;
    }
}