@import "./variable";
@import "../Group-Mixin/Grid-Mixin";
@import "../Group-Mixin/Flex-Mixin";
nav {
    position: sticky;
    top: 0;
    padding: 25px $standard-padding;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    @include gridCenter;
    color: $main-paragraph;
    border-bottom: $main-border;
    .nav-left {
        display: flex;
        align-items: flex-end;   
        gap: 10px;
        a {
            font-family: $main-header;
            font-weight: 100;
            color: $main-paragraph;
        }
    }
    ul {
        @include flexeEvenly;
        li {
            a {
                color: $main-paragraph;
                font-family: $main-font;
                font-weight: 100;
            }
            :active {
                text-decoration: underline;
            }
        }
    }
}