@import "./variable";
@import "../Group-Mixin/Grid-Mixin";
@import "../Group-Mixin/Flex-Mixin";
nav {
    position: sticky;
    top: 0;
    padding: 25px $standard-padding;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    @include gridCenter;
    color: $main-paragraph;
    border-bottom: 1px solid $main-border;
    .nav-left {
        @include flexCenter; 
        gap: 10px;
        a {
            h1 {
                font-family: $main-header;
                font-weight: 100;
            }
        }
    }
    a {
        font-family: $main-paragraph;
        font-weight: 100;
        font-size: 18px;
        color: $main-paragraph;
    }
    ul {
        @include flexeEvenly;
        .after {
            a {
                text-decoration: underline;
                color: $main-bg-color;
            }
        }
    }
    .nav-right {
        display: flex;
        .search {
            position: relative;
            width: 90%;
            @include flexEnd;
            input[type = search] {
                width: 100%;
                padding: 10px 15px 10px 30px;
                @include inputStyle;
                text-align: end;
            }
            span {
                position: absolute;
                left: 10px;
            }
        }
    }
}