$main-text-color: #74CE38;
$main-bg-color: #B68C3F;
$main-paragraph: #4b4b4b;
$main-font: Arial, Helvetica, sans-serif;
$main-header: 'Ubuntu', sans-serif;
$standard-padding: 80px;
$main-border: 1px solid #dbdbdb;