$main-text-color: #0D99FF;
$main-bg-color: #B68C3F;
$main-paragraph: #4b4b4b;
$main-font: 'Noto Sans', sans-serif;
$main-font-header: 'Ubuntu', sans-serif;
$standard-padding: 80px;
$main-background: #F0EEF0;
$main-card-border: #919092;